body,html{
	    font-family: 'Segoe UI',MicrosoftYaHei,"微软雅黑",SimSun,"宋体",sans-serif;
}
.footer{
	width: 100%;
	margin: 40px auto 0;
    border-top: 1px solid #d1d3d4;
}
.footer .navFooter{
	width: 100%;
	padding: 51px 0 48px;
	overflow: hidden;
}
.footer .navFooter .container{
	width: 1180px;
	margin: 0 auto;
	background: orange;
}

.footer .navFooter .container ul{
	float: left;
	width: 180px;
	margin: 0;
	line-height: 32px;
}
.footer .navFooter .container ul li{
	list-style: none;
	font-size: 14px;
}
.footer .navFooter .container ul li a{
	display: block;
	color: #808285;
	font-size: 14px;
	text-decoration: none;
}
.footer .navFooter .container .guanzhu{
	width: 270px;
    padding: 7px 0 0;
    text-align: center;
    position: absolute;
    left: 730px;
}
.footer .navFooter .container dl{
	width: 100%;
	margin: 0 0 100px;
}
.footer .navFooter .container dl dt{
	float: left;
	width: 80px;
    height: 80px;
    max-height: 80px;
    padding: 0 10px 0 0;
}
.footer .navFooter .container dl dt img{
	width: 100%;
}
.footer .navFooter .container dl dd{
	float: left;
	height: 80px;
    line-height: 80px;
    color: #414042;
    margin-right: 10px;
}
.footer .navFooter .container dl dd a{
	outline: 0;
	color: #414042;
}
.footer .navFooter .container .right{
	width: 200px;
	position: absolute;
	right: 70px;
}
.footer .navFooter .container .right>p{
	font-weight: bold;
	font-size: 24px;
    color: #808285;
    margin-bottom: 10px;
}
.footer .navFooter .container .right>input{
	width: 170px;
	height: 25px;
	line-height: 25px;
	color: #7a7a7a;
    background: #E6E7E8;
    border: none;
    outline: 0;
    text-indent: 2em;
}
.footer .navFooter .container .right>button{
	display: inline-block;
	height: 25px;
	width: 25px;
    background: #595757 url(../img/search.jpg) no-repeat center center;
    background-size: 25px 25px;
    border: none;
    outline: 0;
    position: absolute;
    right: 5px;
    top: 46px;
}
.footer .navFooter .container .right ul{
margin-top: 22px;
}
.footer .navFooter .container .right ul li a{
	display: block;
	margin-bottom: 10px;
	overflow: hidden;
}
.footer .navFooter .container .right ul li a p{
	float: left;
	margin-left: 5px;
}
.footer .navFooter .container .right ul li:nth-of-type(1) a span{
	display: inline-block;
	float: left;
	width: 40px;
	height: 40px;	
	background: url(../img/bg1.jpg) no-repeat center center;
}
.footer .navFooter .container .right ul li:nth-of-type(2) a span{
	display: inline-block;
	float: left;
	width: 40px;
	height: 40px;
	background: url(../img/bg2.jpg) no-repeat center center;
}
.footer .navFooter .container .right ul li:nth-of-type(2) a p:nth-of-type(2){
	margin-top: -17px;
}
.footer .middle{
	width: 100%;
	height: 75px;
	background: #3a3a3a;
}
.footer .middle .middle-main{
	width: 1180px;
	margin: 0 auto;
}

.footer .middle .middle-main ul{
	height: 75px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.footer .middle .middle-main ul li{	
	list-style: none;
}
.footer .middle .middle-main ul li a{
	text-decoration: none;
	color: #7a7a7a;
}
.footer .bottom{
	width: 100%;
	height: 60px;
}
.footer .bottom p{
	width: 100%;
	text-align: center;
	line-height: 40px;
	color: #7a7a7a;
}
.footer .top{
	width: 40px;
	height: 40px;
	position: fixed;
	bottom: 194px;
	right: 5px;
	z-index: 2;
	background: url(../img/bg.png) no-repeat;
	background-position: -360px -80px;
}