body,html{
	    font-family: 'Segoe UI',MicrosoftYaHei,"微软雅黑",SimSun,"宋体",sans-serif;
}
a,a:hover{
	text-decoration: none;
}
.header{
	height: 168px;	
}
.header .list .header-main>ul:last-of-type>li:last-of-type{
	margin: 0 30px 0 20px;
} 
/*联系客服*/
.header .contact{
	position: absolute;
	border: 1px solid #d1d3d4;
	display: none;
	right: 16px;
}
.header .contact ul li{
	float: left;
	font-size: 12px;
}
.header .contact ul li:hover a{
	text-decoration: none;
	color:#000000;
}
.login{
	position: relative;
	border: 1px solid #bcbec0;
    border-top: 3px solid #414042;

}
.login .login_container{
	min-height: 540px;
	
	margin: 18px auto;
    position: relative;
}
.login .login_container .login_left{
	min-height: 540px;
	width: 380px;
	position: absolute;
	left: 300px;
}
.login .login_container .login_left h3{
	text-align: center;
	padding: 40px 0;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	color: #414042;
}

.login .login_container .login_left form p{
	width: 380px;
    padding: 0 12px 0 0;
    line-height: 30px;
    color: #7a7a7a;
    letter-spacing: 10px;
}
.login .login_container .login_left form p input{
	width: 290px;
    height: 28px;
    padding: 0 5px;
    line-height: 28px;
    border: 1px solid #d1d3d4;
    border-top: 1px solid #A7A9AC;
    outline: 0;
    color: #414042;
}
.login .login_container .login_left form p:nth-of-type(2){
	padding: 30px 0;
	border-bottom: 1px solid #d1d3d4;
}
.login .login_container .login_left form p:nth-of-type(3){
	width: 100%;
	letter-spacing: 0;
}
.login .login_container .login_left form p:nth-of-type(3) input{
	width: 13px;
	height: 13px;
	display: inline-block;
	margin-right: 10px;
	margin-top: 10px;
}
.login .login_container .login_left form p:nth-of-type(3) span{
	color: #7a7a7a;
	display: inline-block;
	margin-top: 10px;
}
.login .login_container .login_left form p:nth-of-type(3) a{
	text-decoration: none;
	color: #2075a8;
	float: right;
	display: inline-block;
	line-height: 48px;
	font-size: 12px;
}
.login .login_container .login_left form p:last-of-type{
	margin: 50px auto;
	text-align: center;
	
}
.login .login_container .login_left form p:last-of-type input{
	background: #414042;
	width: 220px;
	height: 40px;
	color: white;
}
.login .login_container .login_right{
	min-height: 540px;
	width: 380px;
	border-left:1px dashed #d1d3d4;
	position: absolute;
	top: 0;
	left: 800px;
}
.login .login_container .login_right h3{
	text-align: center;
	padding: 40px 0;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	color: #414042;
}
.login .login_container .login_right p{
	width: 100%;
}
.login .login_container .login_right p a{
	display: block;
	background: #414042;
	width: 220px;
	height: 40px;
	color: white;
	margin-left: 80px;
	outline: none;
	border: 0;
	text-align: center;
	line-height: 40px;
}
.bottom{
	width: 100%;
	height: 113px;
}
.bottom ul{
	width: 100%;
	height: 75px;
	display: flex;
	background: #3a3a3a;
	justify-content: space-around;
}
.bottom ul li{
	font-size: 12px;
	line-height: 75px;
	
}
.bottom ul li a{
	color: #7a7a7a;
}
.bottom ul li:hover a{
	color: #bcbec0;
	text-decoration: none;
}
.bottom p{
	line-height: 37px;
	text-align: center;
	word-spacing: 1em;
	color: #7a7a7a;
}