body,html{
	    font-family: 'Segoe UI',MicrosoftYaHei,"微软雅黑",SimSun,"宋体",sans-serif;
}
.header{
	height: 168px;	
}
.register{
	position: relative;
	border: 1px solid #bcbec0;
    border-top: 3px solid #414042;

}
.register .register_container{
	min-height: 540px;
	margin: 18px auto;
    position: relative;
}
.register .register_container .con-main{
	width: 65%;
	overflow: hidden;
	min-height: 540px;
	float: left;
}
.register .register_container .con-main .register_left{
	min-height: 540px;
	width: 585px;
	position: absolute;
	left: 250px;
}
.register .register_container .con-main .register_left h3{
	padding: 40px 0;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	color: #414042;
	margin-left: 150px;
}
.register .register_container .con-main .register_left form{
	width: 585px;
	overflow: hidden;
}
.register .register_container .con-main .register_left form>span{
	width: 180px;
	float: left;
	color: #a32b3f;
}
.register .register_container .con-main .register_left form p{
	width: 380px;
    padding: 0 12px 0 0;
    line-height: 30px;
    color: #7a7a7a;
    letter-spacing: 10px;
    padding-bottom: 30px; 
    display: inline-block;
    float: left;
}
.register .register_container .con-main .register_left form p input{
	width: 290px;
    height: 28px;
    padding: 0 5px;
    line-height: 28px;
    border: 1px solid #d1d3d4;
    border-top: 1px solid #A7A9AC;
    outline: 0;
    color: #414042;
}
.register .register_container .con-main .register_left form p:nth-of-type(3){	
	letter-spacing: 0;
}
.register .register_container .con-main .register_left form p:nth-of-type(4){
	letter-spacing: 0;
	border-bottom: 1px solid #d1d3d4;
}
.register .register_container .con-main .register_left form p:nth-of-type(4) input{
	width: 180px;
}
.register .register_container .con-main .register_left form p:nth-of-type(4) span{
	width: 50px;
	height: 28px;
	display: inline-block;
	border: 1px solid grey;
	text-align: center;
	letter-spacing: 0.5em;
	float: none;
}
.register .register_container .con-main .register_left form p:nth-of-type(4) i{
	font-style: normal;
	color: #2075a8;
}
.register .register_container .con-main .register_left form p:nth-of-type(5){
	width: 100%;
	letter-spacing: 0;
}
.register .register_container .con-main .register_left form p:nth-of-type(5) input{
	width: 13px;
	height: 13px;
	display: inline-block;
	margin-right: 10px;
	margin-top: 10px;
	float: left;
}
.register .register_container .con-main .register_left form p:nth-of-type(5) span{
	color: #7a7a7a;
	display: inline-block;
	float: left;
}
.register .register_container .con-main .register_left form p:nth-of-type(5) a{
	text-decoration: none;
	color: #2075a8;
	float: right;
	display: inline-block;
	line-height: 30px;
	font-size: 12px;
}
.register .register_container .con-main .register_left form p:last-of-type{
	margin: 50px auto;
	text-align: center;
}
.register .register_container .con-main .register_left form p:last-of-type input{
	background: #414042;
	color: #fff;
	width: 220px;
	height: 40px;
}
.register .register_container .register_right{
	min-height: 540px;
	width: 380px;
	border-left:1px dashed #d1d3d4;
	float: left;
	
}
.register .register_container .register_right h3{
	text-align: center;
	padding: 40px 0;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	color: #414042;
}
.register .register_container .register_right p{
	width: 100%;
}
.register .register_container .register_right p a{
	background: #414042;
	width: 220px;
	height: 40px;
	display: block;
	color: white;
	margin-left: 80px;
	outline: none;
	border: 0;
	text-align: center;
	line-height: 40px;
	font-size: 14px;
}
.bottom{
	width: 100%;
	height: 113px;
}
.bottom ul{
	width: 100%;
	height: 75px;
	display: flex;
	background: #3a3a3a;
	justify-content: space-around;
}
.bottom ul li{
	font-size: 12px;
	line-height: 75px;
	
}
.bottom ul li a{
	color: #7a7a7a;
}
.bottom ul li:hover a{
	color: #bcbec0;
	text-decoration: none;
}
.bottom p{
	line-height: 37px;
	text-align: center;
	word-spacing: 1em;
	color: #7a7a7a;
}